@font-face {
    font-family: 'Forever';
    src: url('../font/Forever.otf') format('otf'),
         url('../font/Forever.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Spectral+SC:400,700'),
 		url('https://fonts.googleapis.com/css?family=PT+Sans:700|Scada');
 		/* url('https://fonts.googleapis.com/css?family=Spirax'); */
* {
	box-sizing: border-box;
}
html {
	font-size: 10px;
	height: 100%;
}
body{
	font: 400 1.3rem/1.5 'Arial', sans-serif;
	min-height: 100%;

}
.header {
	width: 100%;
	height: 100vh;
	background-image: url(../img/bg_menu.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.menu__logo {
	font-family: Forever, serif;
	font-size: 6em;
	color: #fff;
}
.menu-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 50vh;
	margin-bottom: 5vh;
}
.menu__nav {
	text-align: center;
  	opacity: .8;
	font-size: 3rem;
}
.quote {
	font-family: 'Spirax', cursive;

}
.bum {
	font-family: 'Abril Fatface', sans-serif;
	letter-spacing: 1px;
	font-size: 7rem;
}
.menu__nav p {
	margin: 0px;
}
.submenus {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	height: 45vh;
}
.submenu {
	width: 30%;
	position: relative;
	/* outline: 1px solid #fff; */
}
.submenu__puzir {
	display: inline-block;
	border-radius: 50%;
	border: 2px solid #fff;
	opacity: 0;
	position: absolute;
	top: 20%;
}
.submenu__puzir--left {
	width: 50px;
	height: 50px;
	left: 5%;

}
.submenu__puzir--middle {
	width: 35px;
	height: 35px;
	left: 15%;
}
.submenu__puzir--right {
	width: 60px;
	height: 60px;
	left: 30%;
}

.submenu:hover .submenu__puzir,
.submenu:focus .submenu__puzir {
	transform: translate(0, -1000%);
	transition: 3s all ease-out;
	opacity: 1;
}
.submenu:hover .submenu__puzir--middle,
.submenu:focus .submenu__puzir--middle {
	transform: translate(0, -500px);
	transition: 4s all ease-out;
	opacity: 1;
}
.submenu:hover .submenu__puzir--last,
.submenu:focus .submenu__puzir--last {
	transform: translate(0, -1200%);
	transition: 3s all ease-out;
	opacity: 1;
}



.title {
  text-align: center;
  font-size: 3em;
  color: #fff;
  /* letter-spacing: 3px; */
  font-weight: 700;
  text-transform: uppercase;
  opacity: .7;
  font-family: 'Scada', sans-serif;
	/* font-family: 'Abril Fatface', cursive; */

  /* font-family: 'Spectral SC', serif; */
}
.image {
	/* display: inline-block; */
	width: 100%;
	/* height: 20vh; */
}
.submenu__image {
	padding: 10% 30%;
}
.title:hover {
  animation: blur 3s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
  opacity: 1;
  transition: all .2s ease-out;
}
@keyframes blur {
  from {
    text-shadow:
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}
a {
	text-decoration: none;
}